.caratula-mini {
    width: 130px;
}

.caratula-big {
    width: 200px;
}

.titulo {
    font-size: 18px;
    word-break: break-all;
}

.divide {
    margin: 10px;
}

.date-publicado {
    margin-right: 10px;
}

.no-padding {
    padding-left: 0px;
}

.desc {
    margin-left: 20px;
}

/* MOBILE */
@media(max-width:767px) {
    .date-publicado,
    .cabecera-videojuego {
        margin-top: 10px;
    }
}
